<a href="https://colab.research.google.com/github/adnanmohit/Career_Exploration/blob/main/Day1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Adnan")

Hello Adnan

In [ ]:
###create variables

#numbers
a= 6
b= 3

#text
name = "Adnan"
name = "Mohit"

In [ ]:
###basic operations

#addition
print(a+b)

#subtraction
print(a-b)

#combine text
print("Hello "+name)

9
3
Hello Mohit

In [ ]:
###Loops(for,while)

#for loops
for i in range (4,10):
  print(i)

for i in range(110,115):
  print(i)

for a in range(77,81):
  print(a)

#While loops
b=10
while b<=15:
  print(b)
  b+=1

n=7
while n<=11:
  print(n)
  n+=2

x=17
while x>=13:
  print(x)
  x-=1

4
5
6
7
8
9
110
111
112
113
114
77
78
79
80
10
11
12
13
14
15
7
9
11
17
16
15
14
13

In [ ]:
#mini tasks about loops
#even numbers from 1 to 10 using for loops

for i in range(0,12,2):
  print(i)

0
2
4
6
8
10

In [ ]:
#even numbers from 1 to 10 using while loops
c = 2
while c<=10:
  print(c)
  c+=2

2
4
6
8
10

In [ ]:
### Functions
#Welcome text
def greet(name):
  print("Hello, " +name)

greet("Rubana")

#Addtion function
def add_numbers(a,b):
  return (a+b)
print(add_numbers(10,5))

#Subtraction function
def subtract_numbers(x,y):
  return x-y
print (subtract_numbers(55,77))

#Multiplication function
def  multiply_numbers(c,d):
  return c*d
print (multiply_numbers(7,7))
print (multiply_numbers(8,8))

Hello, Rubana
15
-22
49
64

In [ ]:
##mini tasks

#square function
def square(p):
  return p*p
print(square(7))
print(square(5))

#cubic function
def cubic(m):
  return m*m*m
print(cubic(2))

print(cubic(5))

49
25
8
125